* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    text-align: center;
    padding-top: 200px;
    background: url("background-image.jpg") no-repeat center/cover;
    height: 100vh;
}


.first-div {
    height: 114px;
    margin-bottom: 72px;
}


h1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 86px;
    color: #151718;
    font-family: 'Cinzel', serif;

}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

span {
    color: #DB2777;
}

.link_div {
    padding: 16px;
}

a {
   
    font-family: 'Cinzel', serif;
    font-style: normal;
    color: #151718;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px; 
    padding: 16px 32px;
    text-decoration: none;
}

.btn-primary {
    background-color: #DB2777;
    border-radius: 55px;
}

.btn-primary:hover {
    background-color: #d64888;
    box-shadow: 0px 0px 30px #d64888;
}

footer {
    color: #151718;
    position: absolute;
    bottom: 0;
    height: 30px;
    font-weight: 700;
    }