* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding-top: 160px;
    background-image: url("backgroundimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
}

h3 {
    font-size: 16px;
    line-height: 19px;
    color: white;
}

h3 span{
    color: #ffc700;
}


h1{
    color: #ffc700;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    font-family: 'Emilys Candy', cursive;
}

p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: white;
    opacity: .7;
}

a {
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: white;
    opacity: 0.6;
}

a:hover,
.btn-primary {
    text-decoration: none;
    color: black;
    background-color: #ffc700;
    opacity: 1;
}

footer {
    color: #EBF1FB;
    position: absolute;
    bottom: 0;
    height: 30px;
    }
