* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: url("background-image.jpg") no-repeat center/cover;
    height: 100vh;
    text-align: center;
    overflow-y: hidden;
}


main {
    font-family: 'Spectral', serif;
    text-align: center;
    margin-top: 275px;
    color: #EBF1FB;
    display: grid;
    place-content: center;
}

h1 {
    font-family: 'Beth Ellen', cursive;
    font-weight: 400;
    font-size: 64px;
    line-height: 120px;
}

h1 span {
    color: #5EEAD4;
}

p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 72px;
}

a {
    font-weight: 600;
    color: #EBF1FB;
    padding: 16px 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

.btn-primary {
    background: #5EEAD4;
    border-radius: 8px;
    color: #0B0C0E;
    text-decoration: none;
}

.btn-primary:hover {
    background: #5f5d1f;
}

footer {
    color: #EBF1FB;
    position: absolute;
    bottom: 0;
    height: 30px;
    }